.fc-timegrid-slots tr {
    height: 5em;
}

.fc-event-main div {
    cursor: pointer;
}

/* Please don't do this. !important is a really dirty way of doing thing but i was getting desperate :( */
.react-time-picker__wrapper {
    border: none !important;
}
